:root {
    --green-color: rgba(1, 153, 109, 1);
    --green-link-color: rgba(1, 153, 109, 1);
    --bluish-green-color: rgba(1, 153, 109, 0.2);
    --moderate-bluish-green-color: rgba(36, 88, 82, 1);
    --black-color: rgba(0, 0, 0, 1);
    --signal-black-color: rgba(41, 41, 41, 1);
    --wet-asphalt-color: rgba(72, 72, 72, 1);
    --grey-color: rgba(66, 66, 66, 1);
    --white-color: rgba(255, 255, 255, 1);

    --font-family-georgia: Georgia, serif;
    --font-family-lato: 'Lato', sans-serif;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    /* height: 100%; */
}
h1, h2, h3, h4, h5, h6, p,
ul, ol, li,
button, input {
	padding: 0;
	margin: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: var(--font-family-lato);
    font-weight: 500;
    font-style: normal;
}
.container {
    max-width: 1400px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
.header {
    padding-top: 17px;
}
.header__flex {
    display: flex;
    padding-bottom: 17px;
}
/* Logo */
.header-logo {
    margin-right: 173px;
}
/* Navigation */
.navbar {
    padding-top: 14px;
    margin-right: 285px;
}
.navbar__menu {
    display: flex;
    gap: 72px;
}
.navbar__item {
    text-decoration: none;
}
.navbar__link {
    text-decoration: none;
    font-size: 20px;
    color: var(--signal-black-color);
}
.navbar__link:hover {
    color: var(--green-link-color);
    transition: 0.7s ease;
}
/* Auth */
.auth {
    padding-top: 14px;
    margin-right: 35px;
}
.auth__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--black-color);
}
.auth__link:hover {
    color: var(--green-link-color);
    transition: 0.7s ease;
}
/* Button */
.btn {
    background: rgba(1, 153, 109, 1);
    box-sizing: border-box;
    border: 1px solid rgba(1, 153, 109, 1);
    border-radius: 4px;
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
}
.btn--size-small {
    max-width: 183px;
    width: 100%;
    height: auto;
    padding: 13px 0;
}
.btn:hover {
    /* color: var(--black-color); */
    transition: 0.5s ease;
    box-shadow: 0 5px 15px rgba(16, 85, 23, 0.5);
    cursor: pointer;
}
/* Headline */
.headline {
    border-top: 1px solid rgba(214, 214, 214, 1);
    background-image: url(../img/radu-florin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 895px;
    margin-bottom: 50px;
}
.headline-inner {
    max-width: 440px;
    width: 100%;
}
.headline__title {
    padding-top: 175px;
    font-family: var(--font-family-georgia);
    font-size: 65px;
    font-weight: 700;
    color: var(--green-color);
    margin-bottom: 33px;
}
.headline__paragraph {
    padding-right: 10px;
    margin-bottom: 54px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--wet-asphalt-color);
}
.btn--size-large {
    max-width: 227px;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
/* Works */
.works {
    padding-top: 145px;
}
.works__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--grey-color);
    margin-bottom: 8px;
}
.works-inner {
    display: flex;
    flex-wrap: wrap;
}
/* Верхняя часть раздела works*/
.works-top {
    display: flex;
    gap: 135px;
    margin-bottom: 85px;
}
.works-top__title {
    font-family: var(--font-family-georgia);
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    color: var(--green-color);
    max-width: 584px;
    width: 100%;
}
.works-top__paragraph {
    font-size: 20px;
    font-weight: 500;
    color: var(--grey-color);
    line-height: 30px;
    max-width: 665px;
    width: 100%;
    padding: 16px 10px 0 0;
}
/* Нижняя чать раздела works с карточками */
.works-bottom {
    display: flex;
    gap: 95px;
    flex-wrap: wrap;
}
.works-bottom__item {
    max-width: 390px;
    width: 100%;
}
.works-bottom__item:nth-child(2) {
    padding-top: 285px;
}
.works-bottom__item:nth-child(3) {
    padding-top: 55px;
}
.works-bottom__number {
    font-family: var(--font-family-georgia);
    font-size: 150px;
    font-weight: 400;
    color: var(--bluish-green-color);
}
.works-bottom__title {
    font-family: var(--font-family-georgia);
    font-size: 30px;
    font-weight: 700;
    color: var(--black-color);
}
/* Позиционирования заголовка относительно номера карточки */
.works-bottom__item:nth-child(1) .works-bottom__title {
    position: relative; 
    top: -60px;
    padding-left: 90px;
    margin-bottom: 3px;
}
.works-bottom__item:nth-child(2) .works-bottom__title {
    position: relative; 
    top: -57px;
    padding-left: 77px;
    margin-bottom: 5px;
}
.works-bottom__item:nth-child(3) .works-bottom__title {
    position: relative; 
    top: -60px;
    padding-left: 133px;
}
.works-bottom__paragraph {
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-color);
    margin-bottom: 60px;
}
.works-bottom__img {
    max-width: 390px;
    width: 100%;
    height: auto;
    border-radius: 12px;
}
/* Presentation */
.presentation {
    padding-top: 229px;
    padding-bottom: 170px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--moderate-bluish-green-color);
    margin-bottom: 10px;
}
.presentation-inner {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.presentation__info {
    max-width: 570px;
}
.presentation__title {
    padding-top: 83px;
    font-family: var(--font-family-georgia);
    color: var(--white-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 40px;
}
.presentation__paragraph {
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 62px;
}
.btn--size-full {
    max-width: 240px;
    height: 65px;
    width: 100%;
}
.presentation__video {
    max-width: 896px;
    width: 100%;
}
.presentation__video video {
    border-radius: 16px;
    width: 100%;
    height: auto;
}
/* Product */
.product {
    padding-top: 110px;
}
.product-inner {
    display: flex;
    justify-content: flex-end;
    gap: 86px;
}
/* Карточка продукта */
.product__user-card {
    max-width: 639px;
    width: 100%;
}
.product__img {
    border-radius: 18px;
}
.user-card {
}
.user-card__title {
}
.user-card__line {
}
.user-card__img {
}
.user-card__name {
}
.user-card__content {
}
.user-card__list {
}
.user-card__list-item {
}
/* Описание продукта */
.product__desc {
    max-width: 585px;
    width: 100%;
}
.product__title {
    padding-top: 5px;
    font-size: 25px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 18px;
}
.product__subtitle {
    font-family: var(--font-family-georgia);
    font-size: 50px;
    font-weight: 700;
    line-height: 77px;
    color: var(--green-color);
    margin-bottom: 23px;
}
.product__paragraph {
    font-size: 20px;
    line-height: 29px;
    color: var(--wet-asphalt-color);
    margin-bottom: 33px;
}