@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
    .header-logo {
        margin-right: 120px;
    }
    .navbar {
        margin-right: 85px;
    }
    .navbar__menu {
        gap: 25px;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 30px;
    }
    .header-logo {
        margin-right: 85px;
    }
    .navbar {
        margin-right: 75px;
    }
    .navbar__menu {
        gap: 20px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .header__flex {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .auth {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 0 10px;
    }
    .navbar__menu {
        flex-direction: column;
    }
    .headline__title {
        font-size: 45px;
    }
}