@media screen and (max-width: 1440px) {
    .header-logo {
        margin-right: 120px;
    }
    .navbar {
        margin-right: 85px;
    }
    .navbar__menu {
        gap: 25px;
    }
    .works-top {
        flex-wrap: wrap;
    }
    .presentation {
        padding-top: 60px;
    }
    .presentation-inner {
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 1280px) {
    .works-bottom {
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
    }
    .product-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
}
@media screen and (max-width: 1024px) {
    .header-logo {
        margin-right: 85px;
    }
    .navbar {
        margin-right: 75px;
    }
    .navbar__menu {
        gap: 20px;
    }
}
@media screen and (max-width: 768px) {
    .header__flex {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .auth {
        margin-bottom: 15px;
    }
    .works-bottom__item:nth-child(2) {
        padding-top: 0px;
    }
    .works-bottom {
        margin: 0 auto;
    }
}
@media screen and (max-width: 425px) {
    .navbar__menu {
        flex-direction: column;
    }
    .headline__title {
        font-size: 45px;
    }
    .works-top__title {
        font-size: 30px;
    }
    .works-bottom__number {
        font-size: 100px;
    }
    .user-card {
        position: static;
        margin: 0 auto;
    }
}